name: Package CI
on:
  workflow_call:
    inputs:
      package_name:
        required: true
        type: string
      node_version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node ${{ inputs.node_version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          package-manager-cache: false

      - name: Install
        run: npm install --ignore-scripts

      - name: Build
        run: npm run build -- --filter=${{ inputs.package_name }}

      - name: Lint
        run: npm run lint -- --filter=${{ inputs.package_name }}

      - name: Run Tests
        run: npm run test:ci -- --filter=${{ inputs.package_name }}
