name: release.yml
run-name: Release NPM packages
on:
  pull_request:
    types:
      - closed
    branches:
      - main


jobs:

  ### This job is used to get all changed files in the PR

  changed-files-job:
    name: Get files changed in PR
    runs-on: ubuntu-latest
    outputs:
      all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46
        with:
          # Limit the scope of the changed files to only those in the packages directory
          files: packages/**
      - name: List all changed files
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file was changed"
          done


  ### Dev packages

  biome-config:
    name: Release biome-config
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/dev/biome-config/')
    needs:
      - changed-files-job
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/dev/biome-config'
      package_name: '@lokalise/biome-config'

  prettier-config:
    name: Release prettier-config
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/dev/prettier-config/')
    needs:
      - changed-files-job
      - biome-config
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/dev/prettier-config'
      package_name: '@lokalise/prettier-config'

  eslint-config:
    name: Release eslint-config
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/dev/eslint-config/')
    needs:
      - changed-files-job
      - prettier-config
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/dev/eslint-config'
      package_name: '@lokalise/eslint-config'

  package-vite-config:
    name: Release package-vite-config
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/dev/package-vite-config/')
    needs:
      - changed-files-job
      - biome-config
      - eslint-config
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/dev/package-vite-config'
      package_name: '@lokalise/package-vite-config'

  tsconfig:
    name: Release tsconfig
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/dev/tsconfig/')
    needs:
      - changed-files-job
      - biome-config
      - package-vite-config
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/dev/tsconfig'
      package_name: '@lokalise/tsconfig'

  ### APP packages
  universal-ts-utils:
    name: Release universal-ts-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/universal-ts-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/universal-ts-utils'
      package_name: '@lokalise/universal-ts-utils'

  api-common:
    name: Release api-common
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/api-common/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - universal-ts-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/api-common'
      package_name: '@lokalise/api-common'

  api-contracts:
    name: Release api-contracts
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/api-contracts/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - api-common
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/api-contracts'
      package_name: '@lokalise/api-contracts'

  aws-config:
    name: Release aws-config
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/aws-config/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - universal-ts-utils
      - api-contracts
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/aws-config'
      package_name: '@lokalise/aws-config'

  backend-http-client:
    name: Release backend-http-client
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/backend-http-client/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - api-contracts
      - aws-config
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/backend-http-client'
      package_name: '@lokalise/backend-http-client'

  id-utils:
    name: Release id-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/id-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - backend-http-client
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/id-utils'
      package_name: '@lokalise/id-utils'

  background-jobs-common:
    name: Release background-jobs-common
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/background-jobs-common/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - id-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/background-jobs-common'
      package_name: '@lokalise/background-jobs-common'

  context-fastify-plugins:
    name: Release context-fastify-plugins
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/context-fastify-plugins/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - background-jobs-common
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/context-fastify-plugins'
      package_name: '@lokalise/context-fastify-plugins'

  error-utils:
    name: Release error-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/error-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - context-fastify-plugins
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/error-utils'
      package_name: '@lokalise/error-utils'

  fastify-api-contracts:
    name: Release fastify-api-contracts
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/fastify-api-contracts/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - api-contracts
      - error-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/fastify-api-contracts'
      package_name: '@lokalise/fastify-api-contracts'

  frontend-http-client:
    name: Release frontend-http-client
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/frontend-http-client/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - api-contracts
      - fastify-api-contracts
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/frontend-http-client'
      package_name: '@lokalise/frontend-http-client'

  healthcheck-utils:
    name: Release healthcheck-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/healthcheck-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - background-jobs-common
      - frontend-http-client
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/healthcheck-utils'
      package_name: '@lokalise/healthcheck-utils'

  metrics-utils:
    name: Release metrics-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/metrics-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - healthcheck-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/metrics-utils'
      package_name: '@lokalise/metrics-utils'

  non-translatable-markup:
    name: Release non-translatable-markup
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/non-translatable-markup/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - metrics-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/non-translatable-markup'
      package_name: '@lokalise/non-translatable-markup'

  prisma-utils:
    name: Release prisma-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/prisma-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - backend-http-client
      - non-translatable-markup
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/prisma-utils'
      package_name: '@lokalise/prisma-utils'

  script-utils:
    name: Release script-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/script-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - prisma-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/script-utils'
      package_name: '@lokalise/script-utils'

  supported-languages:
    name: Release supported-languages
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/supported-languages/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - script-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/supported-languages'
      package_name: '@lokalise/supported-languages'

  universal-testing-utils:
    name: Release universal-testing-utils
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/universal-testing-utils/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - api-contracts
      - frontend-http-client
      - supported-languages
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/universal-testing-utils'
      package_name: '@lokalise/universal-testing-utils'

  websockets-common:
    name: Release websockets-common
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/websockets-common/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - universal-testing-utils
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/websockets-common'
      package_name: '@lokalise/websockets-common'

  zod-extras:
    name: Release zod-extras
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/zod-extras/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - websockets-common
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/zod-extras'
      package_name: '@lokalise/zod-extras'

  fastify-bullboard-plugin:
    name: Release fastify-bullboard-plugin
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/fastify-bullboard-plugin/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - zod-extras
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/fastify-bullboard-plugin'
      package_name: '@lokalise/fastify-bullboard-plugin'

  auth:
    name: Release auth
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/auth/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - universal-ts-utils
      - fastify-bullboard-plugin
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/auth'
      package_name: '@lokalise/auth'

  polling:
    name: Release polling
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/polling/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - auth
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/polling'
      package_name: '@lokalise/polling'

  opentelemetry-fastify-bootstrap:
    name: Release opentelemetry-fastify-bootstrap
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/opentelemetry-fastify-bootstrap/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - polling
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/opentelemetry-fastify-bootstrap'
      package_name: '@lokalise/opentelemetry-fastify-bootstrap'

  datadog-fastify-bootstrap:
    name: Release datadog-fastify-bootstrap
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/datadog-fastify-bootstrap/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - opentelemetry-fastify-bootstrap
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/datadog-fastify-bootstrap'
      package_name: '@lokalise/datadog-fastify-bootstrap'

  odata-mapper:
    name: Release odata-mapper
    if: |
      always() &&
      !contains(needs.*.result, 'failure') &&
      !contains(needs.*.result, 'cancelled') &&
      contains(needs.changed-files-job.outputs.all_changed_files, 'packages/app/odata-mapper/')
    needs:
      - changed-files-job
      - biome-config
      - tsconfig
      - polling
    uses: ./.github/workflows/release.package.yml
    with:
      working_directory: 'packages/app/odata-mapper'
      package_name: '@lokalise/odata-mapper'
